<% title='Forgot Password' %>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    FORGOT PASSWORD
                </div>
                <% if (errors) { %>
                    <div class="col-lg-12 login-errors">
                        <ul>
                            <% errors.forEach(err=> { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= err.message %>
                                </div>
                                <% }) %>
                        </ul>
                    </div>
                    <% } %>
                        <% if (message) { %>
                            <div class="col-lg-12 login-errors">
                                <ul>
                                    <div class="alert alert-success" role="alert">
                                        <%= message %>
                                    </div>
                                </ul>
                            </div>
                            <% } %>
                                <div class="col-lg-12 login-form px-5">
                                    <div class="col-lg-12 login-form">
                                        <form method="post" action="/forgot-password">
                                            <div class="form-group">
                                                <label class="form-control-label">EMAIL</label>
                                                <input type="text" name="email" class="form-control">
                                            </div>

                                            <div class="col-lg-12 login-btm">
                                                <div class="col-lg-12  login-button">
                                                    <button type="submit" class="btn btn-outline-primary">SEND
                                                        EMAIL</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-2 mb-2"> <a href="/login" class="forgot-password">Login</a>
                                </div>
            </div>
        </div>