<% title='Login' %>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2"></div>
            <div class="col-lg-6 col-md-8 login-box">
                <div class="col-lg-12 login-key">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </div>
                <div class="col-lg-12 login-title">
                    ADMIN LOGIN
                </div>

                <% if (errors) { %>
                    <div class="col-lg-12 login-errors">
                        <ul>
                            <% Object.values(errors).forEach(err=> { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= err.message %>
                                </div>
                                <% }) %>
                        </ul>
                    </div>
                    <% } %>
                    <% if (messages && messages.success) { %>
                        <div class="alert alert-success"><%= messages.success %></div>
                      <% } %>
                      
                        <div class="col-lg-12 login-form px-5">
                            <div class="col-lg-12 login-form">
                                <form method="post" action="/login">
                                    <div class="form-group">
                                        <label class="form-control-label">EMAIL</label>
                                        <input type="text" name="email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">PASSWORD</label>
                                        <input type="password" name="password" class="form-control" i>
                                    </div>

                                    <div class="col-lg-12 login-btm">
                                        <div class="col-lg-12  login-button">
                                            <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-2 mb-2"> <a href="/forgot-password" class="forgot-password">Forgot
                                Password?</a></div>
            </div>
        </div>